<?xml version="1.0" encoding="UTF-8"?>
<web-app>

     <!-- 配置Spring的核心监听器 -->
  <listener>
 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 
   <context-param>
 	<param-name>contextConfigLocation</param-name>
 	<param-value>classpath:applicationContext.xml</param-value>
 </context-param>
  <!-- 配置struts2核心过滤器 -->
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class> org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	  <filter-name>struts2</filter-name>
  	  <url-pattern>/*</url-pattern>
  	  <dispatcher>FORWORD</dispatcher>
  	  <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
 <display-name>shop</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>